# --- IDE / Editor ---
# JetBrains
.idea/
*.iml

# VSCode
.vscode/*
!.vscode/tasks.json

# --- Python ---
.venv/
__pycache__/

# --- MkDocs ---
.cache/
docs/build/

# --- Go ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
